<div class="row home-index">
  <div class="col s12 m6">
    <a href="/beerodex/new" class="card hoverable">
      <h3>Ajouter une bière au Beer O' Dex</h3>
      <div class="center-button">
        <button class="btn-floating btn-large waves-effect waves-light amber darken-2">
          <i class="material-icons">add</i>
        </button>
      </div>
    </a>
  </div>
  <div class="col s12 m6">
    <div class="card hoverable">
      
    </div>
  </div>
</div>
