<div class="row beerodex-index">
  <% @beers.each do |beer| %>
    <div class="col s6">
      <h4><%= beer.name %></h4>
      <span class="chip"><%= beer.degrees %></span>
      <p><%= beer.technical_sheet %></p>
      <p>Origine : <%= beer.country %></p>
    </div>
  <% end %>
</div>
