<div class="row new-beer">
  <h2>Ajouter une bière</h2>

  <%= form_for @beer do %>
    <div class="input-field">
      <i class="material-icons prefix">label</i>
      <input type="text" class="validate" id="name" name="beer[name]" value="" />
      <label for="name">Nom de la bière</label>
    </div>
    <div class="input-field">
      
    </div>
  <% end %>
</div>
