div.row.home-index {
  a.card.hoverable {
    display: block;
    padding: 15px;
    div.center-button {
      width: 100%;
      button {
        margin: 0 auto;
        display: block;
      }
    }
  }
}
